/* Slider wrapper*/
.header-slider-wrapper {
display: block;
background: #FFF;
overflow: hidden;
position: relative;
width: 100%;
}
/* Slider */
.header-slider {
width: 100%;
height: 100%;
background: red;
position: absolute;
left: 0;
top: 0;
opacity: 1;
z-index: 0;

display: flex;
display: -webkit-flex;
display: -ms-flexbox;
flex-direction: row;
flex-wrap: wrap;
-webkit-flex-align: center;
-webkit-align-items: center;
align-items: center;
justify-content: center;
align-content: center;

-webkit-transition: -webkit-transform 1600ms;
transition: -webkit-transform 1600ms, transform 1600ms;
-webkit-transform: scale(1);
transform: scale(1);
}
/* each slide background color */ 
.header-slide1 {
background: #fff;
left: 0;
}
.header-slide2 {
background: #fff;
left: 100%
}
.header-slide3 {
background: #fff;
left: 200%
}
.header-slide4 {
background: #fff;
left: 300%;
}
.header-slider > div {
text-align: center;
}
/* Next and previous button */ 
.control {
position: absolute;
top: 50%;
width: 50px;
height: 50px;
margin-top: -25px;
z-index: 55;
}
.control label {
z-index: 0;
display: none;
text-align: center;
line-height: 50px;
font-size: 50px;
color: #FFF;
cursor: pointer;
opacity: 0.2;
}
.control label:hover {
opacity: 0.5;
}
.next {
right: 1%;
}
.previous {
left: 1%;
}

/* Slider pagination */ 
.header-slider-pagination {
position: absolute;
bottom: 20px;
width: 100%;
left: 0;
text-align: center;
z-index: 1000;
}
.header-slider-pagination label {
width: 10px;
height: 10px;
border-radius: 50%;
display: inline-block;
background: rgba(255,255,255,0.2);
margin: 0 2px;
border: solid 1px rgba(255,255,255,0.4);
cursor: pointer;
}

/* Slider control active css */
.header-slide-radio1:checked ~ .next .numb2, 
.header-slide-radio2:checked ~ .next .numb3, 
.header-slide-radio3:checked ~ .next .numb4, 
.header-slide-radio2:checked ~ .previous .numb1, 
.header-slide-radio3:checked ~ .previous .numb2, 
.header-slide-radio4:checked ~ .previous .numb3 {
display: block;
z-index: 1
}
/* Slider pagination active css */
.header-slide-radio1:checked ~ .header-slider-pagination .page1, 
.header-slide-radio2:checked ~ .header-slider-pagination .page2, 
.header-slide-radio3:checked ~ .header-slider-pagination .page3, 
.header-slide-radio4:checked ~ .header-slider-pagination .page4 {
background: rgba(255,255,255,1)
}

/* css for sliding  effect when you click on control button*/
.header-slide-radio1:checked ~ .header-slider {
-webkit-transform: translateX(0%);
transform: translateX(0%);
}
.header-slide-radio2:checked ~ .header-slider {
-webkit-transform: translateX(-100%);
transform: translateX(-100%);
}
.header-slide-radio3:checked ~ .header-slider {
-webkit-transform: translateX(-200%);
transform: translateX(-200%);
}
.header-slide-radio4:checked ~ .header-slider {
-webkit-transform: translateX(-300%);
transform: translateX(-300%);
}

/* 自适应高度 */
@media (min-width: 1375px) { .header-slider-wrapper {height: 304px;} }
@media (min-width: 1356px) and (max-width: 1374px) { .header-slider-wrapper {height: 300px;} }
@media (min-width: 1338px) and (max-width: 1355px) { .header-slider-wrapper {height: 296px;} }
@media (min-width: 1321px) and (max-width: 1337px) { .header-slider-wrapper {height: 292px;} }
@media (min-width: 1306px) and (max-width: 1320px) { .header-slider-wrapper {height: 288px;} }
@media (min-width: 1286px) and (max-width: 1305px) { .header-slider-wrapper {height: 284px;} }
@media (min-width: 1268px) and (max-width: 1285px) { .header-slider-wrapper {height: 280px;} }
@media (min-width: 1251px) and (max-width: 1267px) { .header-slider-wrapper {height: 276px;} }
@media (min-width: 1233px) and (max-width: 1250px) { .header-slider-wrapper {height: 272px;} }
@media (min-width: 1216px) and (max-width: 1232px) { .header-slider-wrapper {height: 268px;} }
@media (min-width: 1200px) and (max-width: 1215px) { .header-slider-wrapper {height: 264px;} }
@media (min-width: 1200px) and (max-width: 1200px) { .header-slider-wrapper {height: 260px;} }
@media (min-width: 1199px) and (max-width: 1199px) { .header-slider-wrapper {height: 213px;} }
@media (min-width: 992px) and (max-width: 1198px) { .header-slider-wrapper {height: 213px;} }
@media (min-width: 768px) and (max-width: 991px) { .header-slider-wrapper {height: 158px;} }
@media (min-width: 555px) and (max-width: 767px) { .header-slider-wrapper {height: 117px;} }
@media (min-width: 551px) and (max-width: 554px) { .header-slider-wrapper {height: 116px;} }
@media (min-width: 546px) and (max-width: 550px) { .header-slider-wrapper {height: 115px;} }
@media (min-width: 542px) and (max-width: 545px) { .header-slider-wrapper {height: 114px;} }
@media (min-width: 538px) and (max-width: 541px) { .header-slider-wrapper {height: 113px;} }
@media (min-width: 533px) and (max-width: 537px) { .header-slider-wrapper {height: 112px;} }
@media (min-width: 529px) and (max-width: 532px) { .header-slider-wrapper {height: 111px;} }
@media (min-width: 524px) and (max-width: 528px) { .header-slider-wrapper {height: 110px;} }
@media (min-width: 520px) and (max-width: 523px) { .header-slider-wrapper {height: 109px;} }
@media (min-width: 516px) and (max-width: 519px) { .header-slider-wrapper {height: 108px;} }
@media (min-width: 511px) and (max-width: 515px) { .header-slider-wrapper {height: 107px;} }
@media (min-width: 507px) and (max-width: 510px) { .header-slider-wrapper {height: 106px;} }
@media (min-width: 503px) and (max-width: 506px) { .header-slider-wrapper {height: 105px;} }
@media (min-width: 498px) and (max-width: 502px) { .header-slider-wrapper {height: 104px;} }
@media (min-width: 494px) and (max-width: 497px) { .header-slider-wrapper {height: 103px;} }
@media (min-width: 489px) and (max-width: 493px) { .header-slider-wrapper {height: 102px;} }
@media (min-width: 485px) and (max-width: 488px) { .header-slider-wrapper {height: 101px;} }
@media (min-width: 481px) and (max-width: 484px) { .header-slider-wrapper {height: 100px;} }
@media (min-width: 476px) and (max-width: 480px) { .header-slider-wrapper {height: 99px;} }
@media (min-width: 472px) and (max-width: 475px) { .header-slider-wrapper {height: 98px;} }
@media (min-width: 468px) and (max-width: 471px) { .header-slider-wrapper {height: 97px;} }
@media (min-width: 463px) and (max-width: 467px) { .header-slider-wrapper {height: 96px;} }
@media (min-width: 459px) and (max-width: 462px) { .header-slider-wrapper {height: 95px;} }
@media (min-width: 454px) and (max-width: 458px) { .header-slider-wrapper {height: 94px;} }
@media (min-width: 450px) and (max-width: 453px) { .header-slider-wrapper {height: 93px;} }
@media (min-width: 446px) and (max-width: 449px) { .header-slider-wrapper {height: 92px;} }
@media (min-width: 441px) and (max-width: 445px) { .header-slider-wrapper {height: 91px;} }
@media (min-width: 437px) and (max-width: 440px) { .header-slider-wrapper {height: 90px;} }
@media (min-width: 433px) and (max-width: 436px) { .header-slider-wrapper {height: 89px;} }
@media (min-width: 428px) and (max-width: 432px) { .header-slider-wrapper {height: 88px;} }
@media (min-width: 424px) and (max-width: 427px) { .header-slider-wrapper {height: 87px;} }
@media (min-width: 419px) and (max-width: 423px) { .header-slider-wrapper {height: 86px;} }
@media (min-width: 415px) and (max-width: 418px) { .header-slider-wrapper {height: 85px;} }
@media (min-width: 411px) and (max-width: 414px) { .header-slider-wrapper {height: 84px;} }
@media (min-width: 406px) and (max-width: 410px) { .header-slider-wrapper {height: 83px;} }
@media (min-width: 402px) and (max-width: 405px) { .header-slider-wrapper {height: 82px;} }
@media (min-width: 398px) and (max-width: 401px) { .header-slider-wrapper {height: 81px;} }
@media (min-width: 393px) and (max-width: 397px) { .header-slider-wrapper {height: 80px;} }
@media (min-width: 389px) and (max-width: 392px) { .header-slider-wrapper {height: 79px;} }
@media (min-width: 384px) and (max-width: 388px) { .header-slider-wrapper {height: 78px;} }
@media (min-width: 380px) and (max-width: 383px) { .header-slider-wrapper {height: 77px;} }
@media (min-width: 376px) and (max-width: 379px) { .header-slider-wrapper {height: 76px;} }
@media (min-width: 371px) and (max-width: 375px) { .header-slider-wrapper {height: 75px;} }
@media (min-width: 367px) and (max-width: 370px) { .header-slider-wrapper {height: 74px;} }
@media (min-width: 363px) and (max-width: 366px) { .header-slider-wrapper {height: 73px;} }
@media (min-width: 358px) and (max-width: 362px) { .header-slider-wrapper {height: 72px;} }
@media (min-width: 354px) and (max-width: 357px) { .header-slider-wrapper {height: 71px;} }
@media (min-width: 349px) and (max-width: 353px) { .header-slider-wrapper {height: 70px;} }
@media (min-width: 345px) and (max-width: 348px) { .header-slider-wrapper {height: 69px;} }
@media (min-width: 341px) and (max-width: 344px) { .header-slider-wrapper {height: 68px;} }
@media (min-width: 336px) and (max-width: 340px) { .header-slider-wrapper {height: 67px;} }
@media (min-width: 332px) and (max-width: 335px) { .header-slider-wrapper {height: 66px;} }
@media (min-width: 328px) and (max-width: 331px) { .header-slider-wrapper {height: 65px;} }
@media (min-width: 323px) and (max-width: 327px) { .header-slider-wrapper {height: 64px;} }
@media (min-width: 319px) and (max-width: 322px) { .header-slider-wrapper {height: 63px;} }
@media (min-width: 314px) and (max-width: 318px) { .header-slider-wrapper {height: 62px;} }
@media (min-width: 310px) and (max-width: 313px) { .header-slider-wrapper {height: 61px;} }
@media (min-width: 306px) and (max-width: 309px) { .header-slider-wrapper {height: 60px;} }
@media (min-width: 301px) and (max-width: 305px) { .header-slider-wrapper {height: 59px;} }
@media (max-width: 300px) { .header-slider-wrapper {height: 58px;} }
